@{
    ViewData["Title"] = "Home Page";
}


<div class="photo-gallery">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Yaman's Gallery</h2>
            @*<p class="text-center">This is very expensive application. The more you browse the more you pay me lol :)</p>*@

            <ul class="nav justify-content-center mt-2">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="row photos">
            <div class="col-sm-6 col-md-4 col-lg-3 item">
                <a href="img/desk.jpg" data-lightbox="photos"><img class="img-fluid" src="img/desk.jpg"></a>
                <div>
                    <a href="#" class="badge badge-primary m-1">Primary</a>
                    <a href="#" class="badge badge-primary m-1">Primary</a>
                    <a href="#" class="badge badge-primary m-1">Primary</a>
                    <a href="#" class="badge badge-primary m-1">Primary</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/building.jpg" data-lightbox="photos"><img class="img-fluid" src="img/building.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/loft.jpg" data-lightbox="photos"><img class="img-fluid" src="img/loft.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/building.jpg" data-lightbox="photos"><img class="img-fluid" src="img/building.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/loft.jpg" data-lightbox="photos"><img class="img-fluid" src="img/loft.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/desk.jpg" data-lightbox="photos"><img class="img-fluid" src="img/desk.jpg"></a></div>
        </div>
    </div>
</div>
